@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url("/static/fonts/Roboto-Regular.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-weight: 400;
  font-family: "Circe Rounded";
  font-style: normal;
  font-display: swap;
  src: local("Roboto"), local("CirceRounded-Regular"), url("/static/fonts/CirceRounded-Regular.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

body {
  min-width: 360px;
  height: 100vh;
  padding: 0;
  margin: 0;

  font-size: 18px;

  line-height: 1.2;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
}
h1, h2, h3, h4 {
  padding: 0;
  margin: 0;

  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}
img {
  max-width: 100%;
  height: auto;
}
.link-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 32px;

  position: relative;

  text-align: center;
  background-color: #315AF2;
  border-radius: 6px;
  font-family: 'Circe Rounded';
  font-size: 16px;
  line-height: 19px;
  color: white;
  text-decoration: none;

  transition: all .3s ease;
}
.link-button:hover,
.link-button:active {
  background-color: rgba(49, 90, 242, 0.75);
}


/* Header */
header {
  position: relative;
  height: 80px;
  background-color: white;
}
header::after,
.preview::after {
  content: "";

  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  display: block;
  height: 2px;

  background-color: rgb(204,204,204);
}
.header_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  margin: 0 auto 0;
}
.header__logo {
  position: relative;
  left: -30px;
}
.logo {
  width: 250px;
  display: inline-flex;
  align-items: center;
}
.logo a {
  display: inline-block;
}
.logo span {
  font-family: 'Circe Rounded';
  font-size: 24px;
  line-height: 31px;

  color: #010101;
}

/* main container */
.container {
  padding-top: 60px;
  margin-bottom: 250px;
}

/* Preview */
.preview {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}
.preview_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto 0;

  overflow: hidden;
}
.preview__image_wrapper {
  height: 340px;
  overflow: hidden;
  text-align: center;
}
.preview__image_wrapper img {
  object-fit: cover;
  object-position: center;
}
.preview_wrapper_left {
  width: 672px;
}
.preview_wrapper_left span {
  font-size: 16px;
  line-height: 20px;
  color: #E9399C;
  margin-bottom: 10px;
}
.article-preview__title {
  font-family: 'MuseoModerno', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 128%;
  margin: 0;
  margin-bottom: 10px;

  color: #315AF2;
}
.article-preview__description {
  width: 391px;
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 136%;
  margin: 0;
  margin-bottom: 30px;

  color: #000000;
}

.preview_wrapper_left .link-button {
  width: 150px;
  height: 58px;

  font-family: 'MuseoModerno', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  margin: 0;
}

/* List articles */
.list_articles {
  max-width: 1200px;
  margin: 0 auto 0;
}
.list_articles h2 {
  font-family: 'MuseoModerno', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #315AF2;
  padding-bottom: 32px;
}
.list_articles ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
}
.list_articles__article-item {
  text-decoration: none;
  list-style: none;
  margin-bottom: 32px;
}

.list_articles__article-item a {
  position: relative;
  text-decoration: none;
}


/* Articles item */
.article-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  position: relative;
  width: 335px;
  height: 300px;
  padding-top: 20px;
  border: 2px solid rgb(204,204,204);
  box-sizing: border-box;
  border-radius: 3px;
}
.article-item p {
  align-self: flex-start;
  margin: 0;
  padding: 0;
  padding-left: 20px;

  font-family: 'Circe Rounded';
  font-size: 12px;
  line-height: 20px;
  color: #979797;
}
.article-item img {
}
.article-item h3 {
  font-family: 'Circe Rounded';
  font-size: 24px;
  line-height: 120%;
  color: #315AF2;
  text-align: center;
  padding-bottom: 46px;
}


/* Article page */
.article-page {
  max-width: 600px;
  margin: 0 auto 0;
}
.article-page h2 {
  max-width: 400px;

  font-family: 'MuseoModerno', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 128%;

  color: #315AF2;
  margin-bottom: 24px;
}
.article-page__image_wrapper {
  height: 320px;

  background: #34888D;
  border-radius: 12px;
  margin-bottom: 24px;
  overflow: hidden;
  text-align: center;
}
.article-page__image_wrapper img {
  height: 320px;
  object-fit: cover;
  object-position: center;
}


/* Article form */
.article-form {
  max-width: 1200px;
  margin: 0 auto 0;
}
.article-form h1 {
  font-family: 'MuseoModerno', cursive;
  font-size: 45px;
  line-height: 52px;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;

  color: #315AF2;
}
.article-form form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
}
.article-form__wrapper_left {
  width: 880px;
}
.article-form__title_input {
  margin-bottom: 37px;
}
.title_input input {
  height: 48px;
  width: 100%;
  background: white;
  border: 2px solid #cdcdcd;
  border-radius: 3px;
  box-sizing: border-box;
  padding-left: 13px;

  font-family: Circe Rounded, serif;
  font-size: 24px;
  line-height: 52px;
  color: #315AF2;
}
.title_input input::placeholder{
  color: #C4C4C4;
}
.ck-rounded-corners {
  max-width: 880px;
  min-height: 500px;

  background: white;
  border: 2px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 3px;
}

.article-form__wrapper_right {
  width: 300px;
}
.file_input {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;

  padding-top: 17px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  max-width: 300px;

  background: white;
  border: 2px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 3px;
}
.article-form__submit {
  width: 159px;
  height: 48px;
  margin-bottom: 37px;

  border: 0;
  background: #E9399C;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: 'MuseoModerno', cursive;
  font-size: 18px;
  line-height: 22px;
  color: white;
  cursor: pointer;
}
.file_input label {
  margin-bottom: 11px;

  font-family: 'Circe Rounded';
  font-size: 24px;
  line-height: 31px;
  color: #315AF2;
}
.image_container__wrapper {
  width: 100%;
}
#image_container {
}
.close_image {
  margin-left: auto;
  top: 34px;
  right: 10px;
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(229, 229, 229, .8);
  cursor: pointer;
}
.close_image::before,
.close_image::after {
  content: "";

  position: absolute;
  top: 12px;
  left: 5px;

  width: 14px;
  height: 2px;

  background-color: white;
  transform: rotate(45deg);
}
.close_image::before {
  transform: rotate(-45deg);
  box-shadow: none;
}

#image {
  height: auto;
}
.link-button--div {
  width: 155px;
  height: 50px;

  background: #315AF2;
  border-radius: 3px;

  font-family: 'MuseoModerno', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
