{% extends './_base.html' %}

{% load static %}

{% block title %}Добавить статью{% endblock %}

{% block content %}
<section class="article-form">
  <h1>Добавить статью</h1>

  <form
    id="art-form"
    action="{% url 'blog:new_article' %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}

    <div class="article-form__wrapper_left">
      <div class="article-form__title_input title_input">
        <label class="visually-hidden" for="title">Введите название статьи</label>
        <input
          type="text"
          id="title"
          name="title"
          maxlength="64"
          placeholder="Введите название статьи"
          autocomplete="off"
          autofocus
          required
        >
      </div>

      <div class="content_input">
        <label class="visually-hidden" for="editor">Введите текст статьи</label>
        <div id="toolbar-container"></div>
        <textarea id="editor" name="content"></textarea>
      </div>
    </div>

    <div class="article-form__wrapper_right">
      <button class="article-form__submit"
        type="submit"
      >
        Опубликовать
      </button>

      <div class="file_input">
        <label for="input_file">Загрузить изображение</label>

        <div class="image_container__wrapper" hidden>
          <div class="close_image"></div>
          <img id="image_container" width="280px" src="#" alt="Загруженное изображение" />
        </div>

        <div id="button_upload" class="link-button link-button--div">Файл</div>

        <input
          type="file"
          id="input_file"
          name="image"
          autocomplete="off"
          accept="image/png, image/jpeg, image/gif"
          required
          hidden
        >
      </div>
    </div>
  </form>
</section>
{% endblock %}

{% block script %}
  <script src="https://cdn.ckeditor.com/ckeditor5/21.0.0/classic/ckeditor.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
